APP_ENV=development

REDIS_URL=redis://localhost:6379/0
SIGNATURE_SERVICE_URL=http://localhost:8080

HOST_REDIS_PORT=6379

HOST_DATA_DIR=./volumes/data
HOST_LOGS_DIR=./volumes/logs
HOST_CERTS_DIR=./volumes/certs

SIGNING_CERT_PASSWORD=
TLS_CERT_PASSWORD=
