APP_ENV=development

P1_HOST_DATA_ROOT=./var/data
P1_HOST_LOGS_ROOT=./var/logs
P1_HOST_CERTIFICATES_PATH=./volumes/certs

P1_CONNECTOR_UID=1000
P1_CONNECTOR_GID=1000

HOST_REDIS_PORT=6379
HOST_SIGNATURE_API_PORT=9093

P1_ENVIRONMENT=integration

WSS_CERT_PASSWORD=
TLS_CERT_PASSWORD=

SIGNATURE_TOOL_SIGNING_PASSWORD=
